<p>Hola,</p>

<p>Tu casillero (Number: <%= @locker.number %>) ha sido modificado y tiene nueva contraseña.</p>

<p>New Password Gestures:</p>
<ul>
  <% @new_password.each do |gesture| %>
    <%= image_tag attachments.inline["#{gesture.downcase}.jpg"].url, style: "width: 100px; height: 100px; vertical-align: middle;" %>
    <li><%= gesture.capitalize %></li>
  <% end %>
</ul>
<p>Para abrir el casillero acerca la mano al sensor en la caja y luego realiza los gestos en el orden que se muestra en este mail.</p>
